.spotlight {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(7, auto);
  grid-template-areas: 'column1' 'column2' 'column3' 'column4' 'column5' 'column6' 'column7';
  margin-bottom: 30px;
  @media only screen and (min-width: 768px) {
    gap: 15px 15px;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    grid-template-areas:'column1 column1 column1' 'column2 column3 column4' 'column5 column6 column7';
  }
  @media only screen and (min-width: 980px) {
    grid-template-columns: minmax(auto, 3fr) repeat(2, minmax(133px, 1fr));
    grid-template-areas: 'column1 column2 column3' 'column1 column4 column5' 'column1 column6 column7';
  }
  &--primary {
    grid-area: column1;
    padding: 20px 0;
    &-abstract { display: block; }
    &-byline { margin-top: 7px; }
    &-img {
      max-width: 100%;
      vertical-align: bottom
    }
    &-headline {
      display: block;
      margin-bottom: 30px;
    }
    &-label {
      background-color: #ffbd00;
      color: #111;
      display: inline-block;
      font-family:'Source Sans Pro', sans-serif;
      font-size: 14px;
      font-weight: 700;
      padding: 15px;
      margin-bottom: -7px;
      position: relative;
      text-decoration: none;
      text-transform: uppercase;
      top: -22px;
    }
    &-link {
      display: block;
      margin: 0 -20px;
    }
  }
  &--secondary {
    border-top: 1px solid #e7e7e7;
    min-height: 95px;
    padding: 20px 0;
    position: relative;
    &:nth-of-type(2) { grid-area: column2; }
    &:nth-of-type(3) { grid-area: column3; }
    &:nth-of-type(4) { grid-area: column4; }
    &:nth-of-type(5) { grid-area: column5; }
    &:nth-of-type(6) { grid-area: column6; }
    &:nth-of-type(7) { grid-area: column7; }
    &-link {
      grid-column: 2 ;
      height: 95px;
      overflow: hidden;
      position: absolute;
      right: 0;
      top: 20px;
      width: 95px;
    }
    &-img {
      max-width: 100%;
      vertical-align: bottom
    }
    &-headline {
      display: block;
      padding-right: 115px;
    }
    &-kicker {
      display: block;
      margin-bottom: 7px;
      padding-right: 115px;
    }
  }
}

.lead {
  color: #111;
  font-family: 'Lora', serif;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.11;
  @media only screen and (min-width: 768px) { font-size: 2.2rem;}
  @media only screen and (min-width: 1024px) { font-size: 2.34rem; }
}
.primary {
  color: #111;
  font-family: 'Lora', serif;
  text-decoration: none;
  font-size: 1.23rem;
  font-weight: 700;
  line-height: 1.16;
  @media only screen and (min-width: 768px) { font-size: 1.53rem; }
  @media only screen and (min-width: 1024px) { font-size: 1.9rem; }
}
.secondary {
  color: #111;
  font-family: 'Lora', serif;
  text-decoration: none;
  font-size: 1.18rem;
  font-weight: 700;
  line-height: 1.17;
  @media only screen and (min-width: 768px) { font-size: 1.45rem; }
}
.tertiary {
  color: #111;
  font-family: 'Lora', serif;
  text-decoration: none;
  font-size: 1.18rem;
  font-weight: 700;
  line-height: 1.17;
}
.related {
  color: #111;
  font-family: 'Lora', serif;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.19;
  @media only screen and (min-width: 768px) { font-size: 1.13rem; }
}
.abstract {
  color: #444;
  font-family:'Source Sans Pro', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25;
  color: #444;
}
.kicker {
  color: #111;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  @media only screen and (max-width: 768px) { font-size: 16px; }
  @media only screen and (max-width: 928px) { font-size: 14px; }
}

